<footer class="flow">
  <nav class="flow" aria-labelledby="site">
    <h2 id="site" class="body-font-size-larger text-transform-uppercase">Site</h2>
    <ul>
      <li>
        <a href="/changelog/">Changelog</a>
      </li>
      <li>
        <a href="/privacy-policy/">Privacy Policy</a>
      </li>
      <li>
        <a href="/accessibility-statement/">Accessibility Statement</a>
      </li>
      <li>
        <a href="/uncopyright/">Uncopyright</a>
      </li>
    </ul>
  </nav>
  <h2 id="social" class="body-font-size-larger text-transform-uppercase">Social</h2>
  <ul>
    <li>
      <a href="/feed.xml">RSS</a>
    </li>
    <li>
      <a href="https://www.frontendmentor.io/profile/vanzasetia">Frontend Mentor</a>
    </li>
    <li>
      <a href="https://twitter.com/vanzasetia">Twitter</a>
    </li>
    <li>
      <a rel="me" href="https://mastodon.social/@vanzasetia">Mastodon</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/vanzasetia/">LinkedIn</a>
    </li>
    <li>
      <a href="https://webmention.io/vanzasetia.site/webmention">Send Webmention</a>
    </li>
  </ul>
  <p>Feedback and questions are welcome. Email: <a href="mailto:venusbumi2@gmail.com">venusbumi2@gmail.com</a></p>
  <p>This website is powered by <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://www.netlify.com">Netlify</a>, and <a href="https://github.com/vanzasetia/vanzasetia.site">GitHub</a>. I release the source code under the terms of the <a href="https://github.com/vanzasetia/vanzasetia.site/blob/main/LICENSE">Unlicense</a>.</p>
  <p>It is also a part of <a href="https://250kb.club/vanzasetia-site/">250KB Club</a>, <a href="https://512kb.club/">512KB Club</a>, <a href="https://darktheme.club/">Darktheme Club</a>, <a href="https://1mb.club/">1MB Club</a>, and <a href="https://no-js.club/">no-JS Club</a>.</p>
  <p><a href="#header">Back to top</a></p>
</footer>
