<footer>
  <h2 id="site">Site</h2>
  <nav id="site-navigation" aria-labelledby="site">
    <ul>
      <li>
        <a href="/changelog/">Changelog</a>
      </li>
      <li>
        <a href="/privacy-policy/">Privacy Policy</a>
      </li>
      <li>
        <a href="/accessibility-statement/">Accessibility Statement</a>
      </li>
      <li>
        <a href="/uncopyright/">Uncopyright</a>
      </li>
      <li>
        <a href="/resume/">Resume</a>
      </li>
      <li>
        <a href="/meta/">Meta</a>
      </li>
    </ul>
  </nav>
  <h2 id="social">Social</h2>
  <ul>
    <li>
      <a href="/feed.xml">RSS</a>
    </li>
    <li>
      <a href="https://www.frontendmentor.io/profile/vanzasetia">Frontend Mentor</a>
    </li>
    <li>
      <a href="https://twitter.com/vanzasetia">Twitter</a>
    </li>
    <li>
      <a rel="me" href="https://mastodon.social/@vanzasetia">Mastodon</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/vanzasetia/">LinkedIn</a>
    </li>
  </ul>
  <p><a href="mailto:venusbumi2@gmail.com">venusbumi2@gmail.com</a></p>
  <p><a href="#header">Back to top</a></p>
</footer>
