<header id="header" tabindex="-1">
  <a href="#main">Skip to main content</a>
  <a href="/">
    <span role="img" aria-label="Home - Vanza Setia"><span aria-hidden="true">vanzasetia</span></span>
  </a>
  <nav aria-labelledby="main-navigation">
    <span id="main-navigation" hidden>Main</span>
    <ul class="header-list">
      {% for entry in collections.all | eleventyNavigation %}
        <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
