{% if content | toc and tableOfContents %}
  <nav class="flow" aria-labelledby="table-of-contents">
    <h2 id="table-of-contents" tabindex="-1">Table of contents</h2>
    {% if tocMaxLevel3 %}
      {{ content | tocMaxLevel3 | safe }}
      {% else %}
      {{ content | toc | safe }}
    {% endif %}
  </nav>
{% endif %}
