<div class="card flow">
  <h3>
    <a href="{{ project.live }}">{{ project.title }}</a>
  </h3>
  {% for description in project.descriptions %}
    <p>{{ description }}</p>
  {% endfor %}
  <p>
    <a href="{{ project.source }}">
      Source code - {{ project.title }}
    </a>
  </p>
</div>
