<p class="time">
  Published on
  <time datetime="{{ publishedDate | htmlDateString }}"
    >{{ publishedDate | blogDate }}</time
  >. 
  {% if dateModified %}
  Updated on
  <time datetime="{{ dateModified | htmlDateString }}"
    >{{ dateModified | blogDate }}</time
  >.
  {% endif %}
</p>
