<ul class="blog-list">
{% for blog in bloglist | reverse %}
	<li class="flow">
		<h2>
			<a href="{{ blog.url }}">{{ blog.data.title }}</a>
		</h2>
		{% set publishedDate = blog.data.date %}
		{% set dateModified = blog.data.dateModified %}
		{% include "blog/date.njk" %}
	</li>
{% endfor %}
</ul>
