{% ifAsync mentions.likes.length %}
  <h3>
    {% if mentions.likes.length === 1 %}
      {{ mentions.likes.length }} Like
    {% elif (mentions.likes.length > 1) -%}
      {{ mentions.likes.length }} Likes
    {% endif -%}
  </h3>
  <ul class="mentions">
    {% for like in mentions.likes %}
    <li>
      <a href="{{ like.author.url }}">{{ like.author.name }}</a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% ifAsync mentions.reposts.length %}
  <h3>
    {% if mentions.reposts.length === 1 %}
      {{ mentions.reposts.length }} Repost
    {% elif (mentions.reposts.length > 1) -%}
      {{ mentions.reposts.length }} Reposts
    {% endif -%}
  </h3>
  <ul class="mentions">
      {% for repost in mentions.reposts %}
      <li>
        <a href="{{ repost.author.url }}">{{ repost.author.name }}</a>
      </li>
      {% endfor %}
    </ul>
{% endif %}
{% ifAsync mentions.comments.length %}
  <h3>
    {% if mentions.comments.length === 1 %}
      {{ mentions.comments.length }} Comment
    {% elif (mentions.comments.length > 1) -%}
      {{ mentions.comments.length }} Comments
    {% endif -%}
  </h3>
  {% asyncEach comment in mentions.comments %}
    <div class="card flow">
      <p>
        <a href="{{ comment.author.url }}">{{ comment.author.name }}</a>
      </p>
      <p>{{ comment.content.value | safe }}</p>
      <p>
        <a href="{{ comment.url }}">
          {{ comment.published | webmentionPostDate }}
          <svg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" focusable="false" role="img" aria-label="View original post" style="width:1em;height:1em;"><defs><style>.cls-63d{fill:none}</style></defs><polyline class="cls-63d" points="22 13 22 22 2 22 2 2 11 2"></polyline><polyline class="cls-63d" points="14 2 22 2 22 10"></polyline><line class="cls-63d" x1="22" y1="2" x2="10" y2="14"></line></svg>
        </a>
      </p>
    </div>
  {% endeach %}
{% endif %}
