{% ifAsync mentions.likes.length %}
  <h3>
    {% if mentions.likes.length === 1 %}
      {{ mentions.likes.length }} Like
    {% elif (mentions.likes.length > 1) -%}
      {{ mentions.likes.length }} Likes
    {% endif -%}
  </h3>
  <ul class="mentions">
    {% for like in mentions.likes %}
    <li>
      <a href="{{ like.author.url }}">{{ like.author.name }}</a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% ifAsync mentions.reposts.length %}
  <h3>
    {% if mentions.reposts.length === 1 %}
      {{ mentions.reposts.length }} Repost
    {% elif (mentions.reposts.length > 1) -%}
      {{ mentions.reposts.length }} Reposts
    {% endif -%}
  </h3>
  <ul class="mentions">
      {% for repost in mentions.reposts %}
      <li>
        <a href="{{ repost.url }}">{{ repost.author.name }}</a>
      </li>
      {% endfor %}
    </ul>
{% endif %}
{% ifAsync mentions.comments.length %}
  <h3>
    {% if mentions.comments.length === 1 %}
      {{ mentions.comments.length }} Comment
    {% elif (mentions.comments.length > 1) -%}
      {{ mentions.comments.length }} Comments
    {% endif -%}
  </h3>
  {% asyncEach comment in mentions.comments %}
    <div class="card flow">
      <p><a href="{{ comment.url }}">{{ comment.author.name }}</a></p>
      <p>{{ comment.content.value | safe }}</p>
    </div>
  {% endeach %}
{% endif %}
