---
layout: layouts/base.njk
---

<main id="main" class="flow" tabindex="-1">
  <h1>{{ title }}</h1>
  {% include "blog/date.njk" %}
  {% include "description.njk" %}
  {% include "toc.njk" %}
  {{ content | safe }}
  {% set postMentions = webmentions | webmentionsForPage %}
  {% if (postMentions.total !== 0) %}
  <hr>
  <aside class="flow" aria-labelledby="landmark-mentions">
  <h2 id="landmark-mentions">Mentions</h2>
  <p>Powered by <a href="https://webmention.io/">Webmention.io</a>.</p>
  {% asyncEach mention in postMentions.comments %}
    <div class="card flow">
      <h3 class="body-font-size-larger">
        {% if mention.author %}
          <a href="{{ mention.author.url }}">
            {{ mention.author.name }}
          </a>
          {% else %}
          Anonymous
        {% endif %}
      </h3>
      <p>{{ mention.content.value | safe }}</p>
    </div>
  {% endeach %}
  </aside>
  {% endif %}
  {% if generatedByAI === false %}
  <hr>
  <aside class="flow" aria-labelledby="written-by-human-not-ai">
    <picture>
      <source srcset="/svg/written-by-human-not-by-ai-badge-black.svg 264w"  media="screen and (prefers-color-scheme: dark)" />
      <img id="written-by-human-not-ai" src="/svg/written-by-human-not-by-ai-badge-white.svg" alt="Smile emoji. Written by human not by AI." width="264" height="84" loading="lazy" decoding="async">
    </picture>
    <p>
      <a href="https://notbyai.fyi/">
        Not By AI — Add the 'Not By AI' Badge to Your Creative Work
      </a>
    </p>
  </aside>
  {% endif %}
</main>
