@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/NotoSans-Bold.woff2");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/NotoSans-Regular.woff2");
}

@font-face {
  font-family: "Miriam Libre";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/MiriamLibre-Bold.woff2");
}

:root {
  --black: #222;
  --white: #ddd;
  --background: var(--white);
  --foreground: var(--black);
  --outline-focus-color: var(--foreground);
  --step-0: clamp(1rem, calc(0.82rem + 0.8vw), 1.5rem);
  --step-1: clamp(1.2rem, calc(0.96rem + 1.07vw), 1.88rem);
  --step-2: clamp(1.44rem, calc(1.12rem + 1.44vw), 2.34rem);
  --step-3: clamp(1.73rem, calc(1.3rem + 1.91vw), 2.93rem);
  --step-4: clamp(2.07rem, calc(1.51rem + 2.53vw), 3.66rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

:focus {
  outline: 0.3rem solid var(--outline-focus-color);
  outline-offset: 0.1em;
}

[tabindex="-1"]:focus {
  outline: none;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  padding: 0 1rem;
  font-size: calc(1rem + 0.5vw);
}

body > * + * {
  margin-top: 7rem;
}

/**
 * 1. Set consistent underline thickness across
 *    all browsers.
 */
a {
  text-decoration-thickness: 0.1em; /* 1 */
  text-underline-offset: 0.3em;
}

h2 a,
h3 a {
  line-height: 1.6;
}

[href="#main"] {
  position: absolute;
  top: 2rem;
  left: 0;
  background-color: var(--foreground);
  color: var(--background);
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 1rem;
}

[href="#main"]:focus {
  width: auto;
  height: auto;
  clip: auto;
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: -0.03em;
}

picture,
img {
  display: block;
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

svg {
  stroke: currentColor;
  fill: currentColor;
}

svg path {
  fill: currentColor;
}

header,
main,
footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 60ch;
}

ul[class] {
  list-style: none;
}

ul:not([class]) {
  padding-left: 1.25em;
}

ul:not([class]) li + li {
  margin-top: 0.6rem;
}

ul:not([class]) ul {
  margin-top: 0.6rem;
}

blockquote {
  border-left: 0.3rem solid;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1em;
}

kbd,
code {
  font-family: monospace, monospace;
  padding: 0.01em 0.2em;
}

kbd {
  border: 0.1em solid;
}

pre {
  display: block;
  width: 100%;
  border: 0.3rem solid;
  padding: 1rem;
  overflow-x: auto;
}

pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

hr {
  --space: 3em;
  box-sizing: content-box;
  color: inherit;
  height: 0;
}

.flow > * + * {
  margin-top: var(--space, 1.25em);
}

h1,
h2,
h3 {
  --space: 1.75em;
}

h1 + *,
h2 + *,
h3 + * {
  --space: 0.75em;
}

nav[aria-labelledby="table-of-contents"] {
  margin-top: 3em;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.header-list li {
  padding: 0.5rem;
}

header [href="/"] {
  display: inline-block;
  text-decoration-color: transparent;
}

[role="img"][aria-label="Home - Vanza Setia"] {
  font-family: "Miriam Libre", sans-serif;
  letter-spacing: 0.05em;
  font-size: 2rem;
  font-weight: 700;
}

footer {
  padding-bottom: 3rem;
}

footer p {
  max-width: 50ch;
}

footer h2 {
  --space: 1.25em;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-list li {
  padding: 0.5rem;
}

.time {
  font-style: italic;
}

.note {
  --space: 2em;
}

.note > div {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-left: 0.3rem solid;
}

.note p {
  margin-top: 0.8rem;
}

.cta {
  display: inline-block;
  padding: 1rem 1rem;
  border: 0.3rem solid;
  font-weight: 700;
}

.card {
  padding: 1.5rem;
  border: 0.3rem solid;
}

.home img {
  border: 0.3rem solid;
  max-width: 18.75rem;
  width: 100%;
}

.body-font-size-larger {
  font-size: calc(1rem + 0.7vw);
}

.text-transform-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

@supports (font-size: clamp(1rem, calc(0.82rem + 0.8vw), 1.5rem)) {
  body {
    font-size: var(--step-0);
  }

  h1 {
    font-size: var(--step-4);
  }

  h2 {
    font-size: var(--step-3);
  }

  h3 {
    font-size: var(--step-2);
  }

  body > * + * {
    margin-top: clamp(5rem, calc(4.28rem + 3.18vw), 7rem);
  }

  header {
    padding-top: clamp(1.5rem, calc(0.96rem + 2.39vw), 3rem);
  }

  footer {
    padding-bottom: clamp(1.5rem, calc(0.96rem + 2.39vw), 3rem);
  }

  .body-font-size-larger {
    font-size: var(--step-1);
  }
}

/**
 * The support for gap property on flexbox is lower than
 * the support for logical property. It means that if the browsers
 * support logical properties, they also support gap property for flexbox
 * 
 * Reference:
 * - https://caniuse.com/flexbox-gap
 * - https://caniuse.com/mdn-css_properties_padding-inline
 */
@supports (padding-inline: 2rem) {
  .header-list {
    gap: 1rem;
  }

  .header-list li {
    padding: 0;
  }

  .footer-list {
    gap: 1rem;
  }

  .footer-list li {
    padding: 0;
  }
}
