:root {
  --dark: #222;
  --light: #ddd;
  --background: var(--light);
  --foreground: var(--dark);
  --step-0: clamp(1rem, calc(0.82rem + 0.8vw), 1.5rem);
  --step-1: clamp(1.2rem, calc(0.96rem + 1.07vw), 1.88rem);
  --step-2: clamp(1.44rem, calc(1.12rem + 1.44vw), 2.34rem);
  --step-3: clamp(1.73rem, calc(1.3rem + 1.91vw), 2.93rem);
  --step-4: clamp(2.07rem, calc(1.51rem + 2.53vw), 3.66rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--light);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  word-break: break-word;
}

:focus {
  outline: 0.3rem solid;
  outline-offset: 0.2em;
}

[tabindex="-1"]:focus {
  outline: none;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--background);
  color: var(--foreground);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(1rem + 0.5vw);
}

/**
 * 1. Set consistent underline thickness across
 *    all browsers.
 */
a {
  text-decoration-thickness: 0.1em; /* 1 */
  text-underline-offset: 0.3em;
}

h2 a,
h3 a {
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: -0.01em;
}

picture,
img {
  display: block;
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

svg {
  stroke: currentColor;
  fill: currentColor;
}

svg path {
  fill: currentColor;
}

header,
main,
footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 60ch;
}

header,
footer {
  text-align: center;
}

main {
  margin-top: var(--landmark-space, 7rem);
  margin-bottom: var(--landmark-space, 7rem);
}

header ul,
footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

ol,
ul {
  padding-left: 1.25em;
}

ul ul,
ul ol,
ol ol,
ol ul,
ol > li + li,
ul > li + li {
  margin-top: 1rem;
}

header ul li,
footer ul li {
  margin-top: 0;
  padding: 0.5rem;
}

blockquote {
  border-left: 0.3rem solid;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1em;
}

kbd,
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  padding: 0.01em 0.2em;
  overflow-wrap: break-word;
}

kbd {
  border: 0.1em solid;
}

pre {
  display: block;
  width: 100%;
  border: 0.3rem solid;
  padding: 1rem;
  overflow-x: auto;
}

pre code {
  padding: 0;
  border-radius: 0;
}

hr {
  --space: 3em;
  box-sizing: content-box;
  color: inherit;
  height: 0;
}

.flow > * + * {
  margin-top: var(--space, 1.25em);
}

h1,
h2,
h3 {
  --space: 1.75em;
}

h1 + *,
h2 + *,
h3 + * {
  --space: 0.75em;
}

.skip-container {
  text-align: center;
  margin-top: 1rem;
}

nav[aria-labelledby="table-of-contents"] {
  margin-top: 3em;
}

header {
  padding-top: 2rem;
}

header > *,
footer > * {
  border-top: 0.3rem solid;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header > *:last-child {
  border-bottom: 0.3rem solid;
}

header [href] {
  font-weight: 700;
  text-transform: uppercase;
}

header [href="/"] {
  font-size: 2em;
}

header ul,
footer ul {
  justify-content: center;
}

footer {
  margin-bottom: 1rem;
}

footer h2 {
  outline: 0.3rem solid;
  outline-offset: -0.6em;
  text-transform: uppercase;
}

footer [href^="mailto"] {
  font-size: var(--step-2);
}

.time {
  font-style: italic;
}

.blog-list > li + li {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-top: 0.1rem solid;
}

.note {
  --space: 2em;
}

.note > div {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-left: 0.3rem solid;
}

.note p {
  margin-top: 0.8rem;
}

.cta {
  display: inline-block;
  padding: 1rem;
  border: 0.3rem solid;
  font-weight: 700;
}

.card {
  padding: 1.5rem;
  border: 0.3rem solid;
}

.hire img {
  border: 0.3rem solid;
  max-width: 18.75rem;
  width: 100%;
}

@supports (font-size: clamp(1rem, calc(0.82rem + 0.8vw), 1.5rem)) {
  body {
    font-size: var(--step-0);
  }

  h1,
  header [href="/"] {
    font-size: var(--step-4);
  }

  h2 {
    font-size: var(--step-3);
  }

  h3 {
    font-size: var(--step-2);
  }

  main {
    --landmark-space: clamp(5rem, calc(4.28rem + 3.18vw), 7rem);
  }
}

/**
 * The support for gap property on flexbox is lower than
 * the support for logical property. It means that if the browsers
 * support logical properties, they also support gap property for flexbox
 * 
 * Reference:
 * - https://caniuse.com/flexbox-gap
 * - https://caniuse.com/mdn-css_properties_padding-inline
 */
@supports (padding-inline: 2rem) {
  header ul,
  footer ul {
    gap: 1rem;
  }

  header ul li,
  footer ul li {
    padding: 0;
  }
}
