---
layout: layouts/content.njk
title: Archive
eleventyNavigation:
  key: Archive
---

<p>I have listed the blog posts from newest to oldest.</p>

{% set bloglist = collections.blog %} {% include "bloglist.njk" %}
