---
layout: layouts/content.njk
title: Changelog
---

<p>A list of the 20 most recent changes I made, sorted from newest to oldest.</p>

<ul>
  {%- for commit in collections.recentChanges %}
    <li>
      [<code>{{ commit.abbrevHash }}</code>]: <a href="https://github.com/vanzasetia/personal-website/commit/{{ commit.abbrevHash }}">{{ commit.subject }}</a>
    </li>
  {%- endfor %}
</ul>
