---
layout: layouts/general.njk
title: Changelog
description: A list of the 20 most recent changes I made, sorted from newest to oldest.
---

<ul>
  {% for commit in collections.recentChanges %}
    <li>
      <a href="https://github.com/vanzasetia/personal-website/commit/{{ commit.abbrevHash }}">{{ commit.subject }}</a>
    </li>
  {% endfor %}
</ul>
