---
permalink: contribute.json
eleventyExcludeFromCollections: true
---
{
  "name": "Vanza Setia",
  "description": "{{ metadata.description }}",
  "repository": {
    "type": "git",
    "url": "https://github.com/vanzasetia/vanzasetia.site/",
    "license": "AGPL-3.0 license"
  },
  "keywords": [
    "Eleventy",
    "HTML",
    "CSS"
  ],
  "urls": {
    "prod": "{{ metadata.url }}"
  }
}
