---
layout: layouts/base.njk
title: Greetings! You Have Accessed Vanza Setia’s Website.
numberOfLatestBlogsToShow: 5
---

{% include "header.njk" %}
<main id="main" class="flow" tabindex="-1">
  <h1>Blog Posts</h1>
  <p>
    {{ metadata.description }}
  </p>
  <p>
    Below are five of my latest blog posts.
  </p>
  {% set bloglist = collections.blog | head(-1 * numberOfLatestBlogsToShow) %}
  {% include "bloglist.njk" %}
</main>
<footer>
  <ul class="footer-list">
    <li>
      <a href="/feed.xml">RSS</a>
    </li>
    <li>
      <a href="/archive/">Archive</a>
    </li>
    <li>
      <a href="/changelog/">Changelog</a>
    </li>
    <li>
      <a href="https://www.frontendmentor.io/profile/vanzasetia">Frontend Mentor</a>
    </li>
    <li>
      <a href="https://twitter.com/vanzasetia">Twitter</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/vanzasetia/">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/vanzasetia/personal-website">Source code for this site</a>
    </li>
    <li>
      <a href="https://github.com/vanzasetia/personal-website/blob/main/LICENSE">License GNU AGPLv3</a>
    </li>
  </ul>
</footer>
