---
layout: layouts/base.njk
title: Greetings! You Have Accessed Vanza Setia’s Website.
numberOfLatestBlogsToShow: 10
---

<main id="main" class="flow" tabindex="-1">
  <h1>Blog Posts</h1>
  <p>
    I am interested in HTML, responsive design without breakpoints, website performance, progressive enhancement, website accessibility, and privacy on the internet.
  </p>
  <p>
    You can access {{ collections.blog.length }} blog posts on this website. No signup. No time limit. No paywall. <a href="/archive/">Browse all my blog posts on the archive page</a>.
  </p>
  <p>Below are ten of my latest blog posts.</p>
  {% set bloglist = collections.blog | head(-1 * numberOfLatestBlogsToShow) %}
  {% include "blog/list.njk" %}
</main>
