---
layout: layouts/general.njk
title: Uncopyright
description: All content on this website is uncopyrighted.
---

<p>No permission is needed to copy, distribute, or modify the content of this website.</p>
<p>Credit is not required.</p>
<p>In short, <strong>you are free to do whatever you like with the content of this website</strong>.</p>
