---
layout: layouts/base.njk
---

{% include "header.njk" %}
<main id="main" class="flow" tabindex="-1">
  <h1>{{ title }}</h1>
  {% if blog %}
    {% include "blogdate.njk" %}
  {% endif %}
  {% if description %}
    <p>{{ description }}</p>    
  {% endif %}
  {% if blog %}
    {% include "toc.njk" %}
  {% endif %}
  {{ content | safe }}
</main>
